@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .main-section {
    gap: 8px;

    flex-grow: 1;

    background-color: $gray-background;
  }

  .form-section{

    flex-grow: 0.3;
    padding: 0 35px;
    gap: 34px;

    img{
      margin-bottom: 30px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 45px;
    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 30px;

      .divider{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 14px;
        color: black;
        font-weight: 500;
        text-transform: uppercase;
        width: 100%;

        div{
          flex-grow: 1;
          height: 1px;

          background-color: black;
        }
      }

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background-color: transparent;

        padding: 12px 24px;

        transition: transform 180ms ease, box-shadow 180ms ease;


        &:hover {
          cursor: pointer;
          transform: translateY(-4px); /* 'vem pra frente' */

        }

        &:active {
          transform: translateY(-2px); /* efeito de pressionar */
        }

        &.btn-primary {
          background-color: $primary-color;
          color: #fff;
          box-shadow: 0px 8px 12px rgba(148, 64, 255, 0.2);

          &:hover {
            /* aumenta o destaque no hover */
            box-shadow: 0px 18px 30px rgba(148, 64, 255, 0.28);
          }
        }

        &.btn-secondary {
          border: 1px solid $primary-color;
          color: $primary-color;

          &:hover {
            box-shadow: 0px 12px 20px rgba(0,0,0,0.08);
          }
        }

      }

    }


  }

}
